# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Jupyter notebooks
.ipynb_checkpoints/

# IDE configuration
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
